html,body,#app{
    height: 100%;
    width: 100%;
}
/******************flex布局**********************/
.flex-row-start_start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start
}
.flex-row-center-center{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.flex-row-between-center{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.flex-row-start_center{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center
}
.flex-row-start_end{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end
}
.flex-cloumn-start_start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}
.flex-cloumn-center_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.flex-cloumn-start_center{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}
.flex-cloumn-start_end{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start
}

.border{
    border: 1px solid green;
}
