/*
 * |第一套皮肤
*/
@topBarBackgroundColor:#4c4a44;
@leftBarBackgroundColor:#4c4a44;

/**********navbar************/
@toolbarItemCloseBackground:#c96341;
@toolbarItemMinBackground:#6c6b65;

/*************leftbar***************/
@leftMenuBackgroundActive:#3a3937;